
<div class="mat-elevation-z8" fxFlexOffset="5%" fxFlex="90%" fxLayout="column" fxLayoutAlign="start space-evenly">
    <mat-toolbar style="margin-top: 10px;" color="primary" fxLayout="column">
       
        <mat-toolbar-row fxLayout="row">
            <button matTooltip="Go Back" mat-icon-button (click)="backButtonClicked()"><mat-icon>arrow_back</mat-icon></button>
            <button matTooltip="Add an Email Template" mat-icon-button (click)="addButtonClicked()"><mat-icon>add_circle</mat-icon></button>
            <h2 class="list" fxFlexAlign="center">Student's List</h2>
        </mat-toolbar-row>        
    </mat-toolbar>
    <div style="margin-left: 156px;">
        <mat-form-field fxFlexOffset.gt-xs="20px" fxFlex="50%">
            <input type="text" size="30" matInput (keyup)="applyFilter($event)" maxlength="100" matInput placeholder="Filter">
            <mat-label>Filter</mat-label>
        </mat-form-field>
    </div>    
    <div fxLayoutAlign="center" fxLayout="row" fxFlex="100%">
        <mat-table fxFlex="90%"  style="height: 400px;" matSort [dataSource]="dataSource">
            <ng-container  matColumnDef="serialNumber">
                <mat-header-cell fxFlex="5%" style="color: white;" *matHeaderCellDef>#</mat-header-cell>
                <mat-cell fxFlex="5%"  *matCellDef="let template;let i=index">{{(i+1) + (myPaginator.pageIndex * myPaginator.pageSize)}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="studentName">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{template.studentName}}</mat-cell>
            </ng-container> 
             <ng-container matColumnDef="rollNumber">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Roll Number</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{template.rollNumber}}</mat-cell>
            </ng-container>    
            <ng-container matColumnDef="subject1">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Marks 1</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{template.subject1}}</mat-cell>
            </ng-container>    
            <ng-container matColumnDef="subject2">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Marks 2</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{template.subject2}}</mat-cell>
            </ng-container>      
            <ng-container matColumnDef="subject3">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Marks 3</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{template.subject3}}</mat-cell>
            </ng-container>   
            <ng-container matColumnDef="total">
                <mat-header-cell fxFlex="75%" style="color: white;" mat-sort-header *matHeaderCellDef>Total Marks</mat-header-cell>
                <mat-cell fxFlex="75%" *matCellDef="let template">{{calculateTotal(template)}}</mat-cell>
            </ng-container>                   
            <ng-container matColumnDef="edit">
                <mat-header-cell fxFlex="10%" style="color: white;"  *matHeaderCellDef>Edit</mat-header-cell>
                <mat-cell fxFlex="10%"  *matCellDef="let template"><button style="width:32px;height:32px" mat-icon-button (click)="editButtonClicked(template)"><mat-icon color="primary" >edit</mat-icon></button></mat-cell>
            </ng-container>                                                                    
            <ng-container matColumnDef="delete">
                <mat-header-cell fxFlex="10%" style="color: white;"  *matHeaderCellDef>Delete</mat-header-cell>
                <mat-cell fxFlex="10%"  *matCellDef="let template"><button style="width:32px;height:32px" mat-icon-button (click)="deleteButtonClicked(template)"><mat-icon color="warn" >delete_forever</mat-icon></button></mat-cell>
            </ng-container>                                                        
            <mat-header-row style="background-color: lightskyblue;" *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row;columns:displayedColumns"></mat-row>
        </mat-table>
    </div>
    <mat-paginator #myPaginator [pageSizeOptions]="[20, 30, 40]" showFirstLastButtons></mat-paginator>                
</div>



